* {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
  }
  body {
    margin: 0;
  }

html {
    width: 100vw;
    height: 100vh;
    background-color: #1b1936;
}

@font-face {
    font-family: pokemon-font;
    src: url(../assets/font/pokemon-solid.ttf);
  }
  

h1 {
    font-family: "pokemon-font";
    letter-spacing: 5px;
    color: white;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: left;
    font-size: 1em;
    margin: 5%;
}



.flex-5130 {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}

.flex-5130 .col-1 {
    width: 70%;
    height: 100%;
    font-size: 0;
}

.flex-5130 .col-2 {
    width: 30%;
    height: 100%;
    font-size: 2em;
}

.sprite {
    width: 100%;
    height: 100%;
}

#gamefield {
    border-right: 1px solid black;
    max-height: 100%;
}

#map {
    max-width: 100%;
}

button{
    font-size: 26px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 2%;
    display: block;
    align-items: center;
    margin: auto;
    margin-top: 5%;
}

#umbreon {
    width: 1.4%;
    position: absolute;
    visibility: hidden;
}

#james {
    width: 1.3%;
    position: absolute;
    visibility: hidden;
}

#jessie {
    width: 1.3%;
    position: absolute;
    visibility: hidden;
}

/* 
.path_jessie {
    position: absolute;    
    top: 8%;
    left: 31%;
    height: 28%;
} */


#sbire {
    width: 1.7%;
    position: absolute;
    visibility: hidden;
}


/* MODAL */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
